<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/portfolio.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/b30d33a81a.js"></script>

  <title>Seif Hafri</title>
</head>

<body>

  <div class="sidenav">
    <a id="logo" href="#"><img src="../public/images/Seif.png" alt=""></a>
    <div class="sidenavel">

      <a href="#"><i class="fas fa-home"></i>
        <p>Home</p>
      </a>
      <a href="#2"><i class="fas fa-user-circle"></i>
        <p>About ME</p>
      </a>
      <a href="#3"><i class="fas fa-photo-video"></i>
        <p>Gallery</p>
      </a>
      <a href="#4"><i class="fas fa-envelope"></i>
        <p>Ping Me</p>
      </a>



    </div>
  </div>

  <div class="main">
    <section class="home">
      <header <h1 class="jumbo">I'm Hafri Seif.</h1>
        <p id="jumbop"> Computer Science Student & junior web dev </p>
      </header>

    </section>
    <section id="2" class="about me">
      <h2 id="name">Bio</h2>
      <p>Hello, my name is <strong>Seif Hafri</strong>,
        a computer science student & a junior web developer.
        I am also an event organizer of major club events such as CasbahTech Hackathon,
        LHD Learn & Build, DesignFest, as well as a trainer in algorithmics (Pascal and C) and Web Dev (HTML, CSS and
        JavaScript).
      </p>


    </section>

    <div class="skills">
      <h2 id="name">Experiences </h2>

      <div class="exp">
        <img class="avatar" alt="Image placeholder" src="/images/esi.png">
        <p>4th year computer science engineering student at the higher national school of computer science ESI Algiers
        </p>
      </div>

      <div class="exp">
        <img class="avatar" alt="Image placeholder" src="/images/cse.png">
        <p>Vice President at "CLUB SCIENTIFIQUE DE L'ESI</p>
      </div>

      <div class="exp">
        <img class="avatar" alt="Image placeholder" src="/images/ms.png">
        <p> Microsoft Learn Student Ambassador </p>
      </div>
    </div>
    <div class="skills-section">
      <div class="skills-header">
        <h2 id="name">Skills</h2>
      </div>
      <div class="skills-container">

        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="https://cdn.freebiesupply.com/logos/large/2x/html-5-logo-png-transparent.png" alt=""
                class="skills-icons">
            </div>
            <h3>HTML 5</h3>
          </div>
        </div>


        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/CSS.3.svg" alt="" class="skills-icons">
            </div>
            <h3>CSS3</h3>
          </div>
        </div>


        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="https://icon-library.net/images/javascript-icon-png/javascript-icon-png-23.jpg" alt=""
                class="skills-icons">
            </div>
            <h3>JAVASCRIPT</h3>
          </div>
        </div>

        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img
                src="http://pluspng.com/img-png/nodejs-logo-png-nice-images-collection-node-js-desktop-wallpapers-370.png"
                alt="" class="skills-icons">
            </div>
            <h3>NODE.JS</h3>
          </div>
        </div>

        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="https://mildaintrainings.com/wp-content/uploads/2017/11/react-logo.png" alt=""
                class="skills-icons">
            </div>
            <h3>REACT</h3>
          </div>
        </div>

        <div class="skills-box">
          <div class="skills-title">
            <div class="skills-img">
              <img src="https://javascriptforwp.com/wp-content/uploads/2019/03/badge-gatsby.png" alt=""
                class="skills-icons">
            </div>
            <h3>GATSBY.JS</h3>
          </div>
        </div>


      </div>

    </div>



    <section id="3" class="gallery">
      <h2 id="name">My Projects</h2>
      <!-- Carousel wrapper -->
      <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
        <!-- Controls -->
        <div class="d-flex justify-content-center mb-4">
          <button class="carousel-control-prev position-relative" type="button"
            data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next position-relative" type="button"
            data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
            <span style="color: aliceblue;" class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- Inner -->
        <div class="carousel-inner py-4">
          <!-- Single item -->
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/181.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk
                        of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk
                        of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/183.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk
                        of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-12">
                  <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk
                        of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/185.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk
                        of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 d-none d-lg-block">
                  <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/186.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk
                        of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Single item -->
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                  <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/187.jpg" class="card-img-top" alt="..." />
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk
                        of the card's content.
                      </p>
                      <a href="#!" class="btn btn-primary">Button</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                <div class="card">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/188.jpg" class="card-img-top" alt="..." />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and make up the bulk
                      of the card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                <div class="card">
                  <img src="https://mdbootstrap.com/img/new/standard/nature/189.jpg" class="card-img-top" alt="..." />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and make up the bulk
                      of the card's content.
                    </p>
                    <a href="#!" class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner -->
  </div>
  <!-- Carousel wrapper -->

  </section>

  <div id="4" class="main contact">
    <h2 id="name"> Contact Me </h2>

    <div class="exp">
      <i class="fas fa-thumbtack"></i>
      <p id="legende">Lr consectetur praesentium eo</p>
    </div>
    <div class="exp">
      <i class="fas fa-phone"></i>
      <p id="legende">Lorem ium eo</p>
    </div>
    <div class="exp">
      <i class="fas fa-envelope"></i>
      <p id="legende">Lorem ipsconsequato</p>
    </div>
  </div>



  <div class="main">
    <section id="emails">
      <main class="page hire-me-page">
        <section id="ContactMe" class="portfolio-block hire-me">
          <div>
            <div class="heading">
              <h2 id="name">Get in touch</h2>
            </div>
          </div>
          <form>

            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" type="email" id="email">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" style="height: 200px;">
              </textarea>
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="hire-date">Date</label>
                  <input class="form-control" id="hire-date" type="date">
                </div>
                <div class="col-md-6 button">
                  <button class="btn btn-primary btn-block" type="submit">Send Email</button>
                </div>
              </div>

      </main>
    </section>
  </div>
  </div>









</body>

</html>